<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="marmu.com.mychat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".Application.ApplicationLetsChat"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controller.Activity.IndexActivity.IndexActivity" />
        <activity android:name=".Controller.Activity.LoginActivity.LoginActivity" />
        <activity android:name=".Controller.Activity.RegisterActivity.RegisterActivity" />
        <activity android:name=".Controller.Activity.MainActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controller.Activity.UserSettingsActivity.Activity.UserSettings" />
        <activity android:name=".Controller.Activity.UserSettingsActivity.Activity.UserEditName" />
        <activity android:name=".Controller.Activity.UserSettingsActivity.Activity.UserEditProfilePic" />
        <activity android:name=".Controller.Activity.ChatActivity.ChatActivity"></activity>
    </application>

</manifest>